*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, 
    rgba(0,0,0,1) 0%, 
    rgba(115,115,115,1) 25%, 
    rgba(103,112,124,1) 29%, 
    rgba(45,97,166,1) 48%);

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    width: 80%;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow-x: hidden;
    height: 100vh;
}

.header{
    width: 100%;
    display: flex;
    align-items: center;
}

.logo{
    width: 90px;
    margin: 50px 50px;
}

nav{
    width: 100%;
    text-align: right;
}

li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

nav li a{
    text-decoration: none;
    cursor: pointer;
    color: #000;
    font-size: 14px;
}
nav li a:hover{
    color: #2D61A6;
}

.box_medium{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 100px 0;
}

.box_left{
    margin-left: 50px;
    position: relative;
}

.box_left::before{
    content: '';
    width: 10px;
    height: 57%;
    background: linear-gradient(#2D61A6, #0D0D0D);
    position: absolute;
    left: -40px;
    top: 8px;

}

.box_left h1{
    font-size: 54px;
    display: flex;
    align-items: center;
}

.box_left h1 img{
    width: 150px;
    margin-right: 10px;
}

.box_left h2{
    font-size:30px ;
    color: #2D61A6;
    font-weight: 400;
    margin: 20px 0;
    text-transform: uppercase;
}

.box_left p{
    font-size: 16px;
    color: #2D61A6;
    font-weight: 400;
}

.box_left h3{
    font-size: 20px;
    color: #000;
    margin: 30px 0;
}
.button_buy{
    width: 140px;
    border: none;
    padding: 12px 10px;
    outline: none;
    color: #fff;
   
    border-radius: 6px;
    cursor: pointer;
    background: linear-gradient(#67726E,#0D0D0D);
    transition: all  0.5s ease-in-out;
}

.button_buy img{
    width: 30px;
    display: none;
}

.button_buy:hover{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 160px;
}

.button_buy:hover img{
    display: block;
}


.box_rigth{
    display: flex;
    align-items: center;
    position: relative;
    
}

.controller{
    width: 90%;
    z-index: 2;
    animation: moveCrontroller 2s infinite alternate-reverse ease-in-out;
}

.color_box{
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(#0D0D0D, #80D2F2);
    height: 100%;
    width: 80%;
    border-radius: 20px 0px 0px 20px;
    z-index: 1;
    transform: translateX(150px);
}

.button_add{
    z-index: 2 ;
    border: none;
    background: transparent;
    cursor: pointer;
}

.button_add img{
    height: 100%;
    width: 100%;
    max-width: 55px;
}

.social{
    display: flex;
    align-items: center;
    justify-content: center;
}

.social img{
    height: 20px;
    margin: 20px 10px;
    cursor: pointer;
}

.menu{
    height: 25px;
    margin-right: 15px;
    display: none;
}

@media  (max-width:760px){

    .container{
        width: 100vw;
        height: 100vh;
        border-radius: 0;
        overflow-y: auto;
    }

    .logo{
        margin: 52px 13px;
    }
    
    #menu_list{
        position: relative;
        top: 60px;
        left: 60px;
        overflow: hidden;
        transition: all  0.8s ease-in-out;
    }
    .menu{
        display: block;
    }

    .nav_li{
        display: block;
        margin-top: 5px;
    }

    .box_medium{
        flex-direction: column-reverse;
    }

    .box_rigth{
        margin-bottom: 30px;
    }

    .box_left h1{
        font-size: 54px;
        display: flex;
        flex-direction: column ;
    }


    .color_box{
        transform: translateX(70px);
    }
   
    
}@keyframes moveCrontroller{
    from{
        transform: translate(-5%, -5%) rotate(-5deg);
    }
}